#inline-block-tag{
    font-size: 20px; 
    font-weight: bold;
}

#inline-block-tag span, #inline-block-tag div{
    background-color: #feb;
    border: 1px solid #715;
    margin: auto;
    width: 150px;
    height: 60px;
}

#inline-block span, #inline-block div{
    display: inline-block;
    background-color: #feb;
    border: 1px solid #715;
    margin: auto;
    width: 150px;
    height: 60px;
}

#float-block div{
    display: inline-block;
    width: 250px;
    /* background-color: #ffe; */
    border:  1px solid #9cc;
    padding: 10px;
}
*{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
}
h1{
    color: wheat;
}
a{
    color: orange;
    font-size: 20px;
}
